{% extends 'layout.html' %}
{% block content %}
<article class = "media content-section">   
    <h2>About Page</h2>
</article>
<article class = "media content-section">
    <h3>Told you that I was gonna dedicate a software
        to you right?..Here it is
    </h3>
</article>
        <p>Suicidal , your love is suicidal
        And lately I've been feeling suicidal
        U killin me from within</p>
        <p>I even get angry when I get to miss you
        
        I think that we are meant to be
        You took my heart and made it bleed
        I gave you all my ecstacy</p>
        <p>Left lipstick on my hennessy
        Felt like you took my soul from me
        
        I yearn for you , hard , everyday , cant get
        enough of you trying to get over how bad i want you so much</p>
       
        
        <p>Am jealous of the love I havent spent with you
        Jealous of the sun that falls on your skin
        Jealous of the wind that ripples through your 
        clothes</p>
        
        <p>I dont want to lose my conscience
        Drinkin all this hennessy
        Babe you took control of me
        And I got  too many enemies</p>
        
        <p>I know it is a one-sided love but girl
        you stole ma heart
        
        and series of naps...I aint sleeping cutie 
        because of you..</p>
        
        
        <p>When am idle all I do is be poetic and write 
        some nice stuff abt you , to me you are special</p>

        <p>I picked my poison and its you..nothing can kill me like you do
            you make me feel like I am out of ma mind , nothing makes me high 
            like this
        </p>
        <p></p>I left my dreams by the way side in order to watch over yours
        I now place my soul at the side of your soul
        I offer my energy so that my body may be a bridge
        erected towards finding your happiness , taking 
        you to a supreme destiny</p>
        
        <p>I love you....</p>
        {% endblock content %}